@model IEnumerable<MiTiendaVirtual.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Lista de Clientes</h2>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Id del Cliente</th>
            <th>Nombres y Apellidos</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@(c.Nombres + " " + c.Apellidos)</td>
                <td>@c.Dni</td>
                <td>@c.Telefono</td>
                <td>@c.Correo</td>
                <td>@c.Direccion</td>
            </tr>
        }
    </tbody>
</table>